<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../css/loginsignupForm.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<style>
			.main {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
	</head>
	<body>
		<div class="main">
			<form class="form">
				<div class="title noto-sans-title">
					Welcome,<br /><span>log in to continue</span>
				</div>
				<input
					type="email"
					placeholder="Email"
					name="email"
					class="input noto-sans-title"
				/>
				<input
					type="password"
					placeholder="Password"
					name="password"
					class="input"
				/>
				<button class="button-confirm noto-sans-title">Let`s go →</button>
			</form>
		</div>
	</body>
</html>
