<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up</title>
		<link rel="stylesheet" href="../css/loginsignupForm.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<style>
			.main {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
	</head>
	<body>
		<div class="main">
			<form class="form" action="/signup" method="post">
				<div class="title noto-sans-title">
					Create an Account,<br /><span>get started today</span>
				</div>
				<input
					type="text"
					placeholder="Full Name"
					name="name"
					class="input noto-sans-title"
					required
				/>
				<input
					type="email"
					placeholder="Email"
					name="email"
					class="input noto-sans-title"
					required
				/>
				<input
					type="text"
					placeholder="Phone Number"
					name="phone"
					class="input noto-sans-title"
					required
				/>
				<input
					type="password"
					placeholder="Password"
					name="password"
					class="input"
					required
				/>
				<input
					type="password"
					placeholder="Confirm Password"
					name="confirmPassword"
					class="input"
					required
				/>
				<div class="title noto-sans-title">
					Enter your farm's location,<br /><span>get real-time updates</span>
				</div>
				<input
					type="text"
					placeholder="Latitude"
					name="latitude"
					class="input noto-sans-title"
					required
				/>
				<input
					type="text"
					placeholder="Longitude"
					name="longitude"
					class="input noto-sans-title"
					required
				/>
				<input
					type="text"
					placeholder="Location Name"
					name="locationName"
					class="input noto-sans-title"
					required
				/>

				<button type="submit" class="button-confirm noto-sans-title">
					Let's go →
				</button>
			</form>
		</div>
	</body>
</html>
