.button {
	width: 120px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid var(--button-shadow-color);
	background-color: var(--background-color);
	box-shadow: 4px 4px var(--button-shadow-color);
	font-size: 25px;
	font-weight: 600;
	color: var(--button-shadow-color);
	cursor: pointer;
}

.button:active {
	box-shadow: 0px 0px var(--main-color);
	transform: translate(3px, 3px);
}




 