:root{
    --nav-color: #204e08;
    --font-color: #ecf1ea;
    --background-color : #f0f0f0 ;
    --button-shadow-color : black ;
}

.dark-mode{
    --nav-color: #e8f0e3;
    --font-color: #020202;
    --background-color : #2f2e2e ;
    --button-shadow-color : #f0f0f0 ;
}

.noto-sans-reg {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.noto-sans-title {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 95;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 100;
    font-style: normal;
}